/.vscode
/Install.txt
/Text2Podcast
/Text2podcastvscode.code-workspace
/__pycache__
/.vs/Text2Podcast/v16/.suo
/Text2Podcast.sln
/Text2Podcast.pyproj
/temp
/fin
paths.json
/Text2Podcast1.pyproj
/.vs/Text2Podcast1/v16
