/.vscode
/Install.txt
/Text2Podcast
/Text2podcastvscode.code-workspace
/__pycache__
/.vs/Text2Podcast/v16/.suo
/Text2Podcast.sln
/Text2Podcast.pyproj
temp/audio725504.mp3
temp/audio243314.mp3
temp/audio695507.mp3
temp/audio765800.mp3
temp/audio893943.mp3
